*.Rproj
*.Rproj.user
.httr-oauth
.Rhistory
.DS_Store
.Rproj.user

accessdb.sql

abbrev_scratchpad.R
cheddar_cheese.R
connect.R		
dairy_and_eggs.R
get_everything.R
nutrient_list.R
scratchpad.R
send_requests.R
